@model RITFacultyV1.ViewModels.HomeViewModel

<section id="intro">
    <h1 class="intro_text">iSchool at RIT</h1>
    <div id="about">
        <div id="about_title">@Model.about.title</div>
        <hr>
        <div id="about_description">@Model.about.description</div>
        <div id="about_quote">@Model.about.quote</div>
        <div id="about_quoteAuthor">@Model.about.quoteAuthor</div>
    </div>
</section>